<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="mat-card-avatar" [ngStyle]="{'background-image': 'url(' + hotelThumbnail + ')'}"></div>
      <mat-card-title  title="{{hotelName}}">{{hotelName}}</mat-card-title>
      <mat-card-subtitle  title="{{cuisines}}">{{cuisines}}</mat-card-subtitle>
    </mat-card-header>
    <div class="mat-card-image-conatiner">
      <img mat-card-image  src="{{hotelImage}}" alt="Hotel {{hotelName}}">
    </div>
    <mat-card-content>
      <p>Рейтинг: <span class="rating-star">{{'★'.repeat(math.round(rating))}}</span></p>
      <p>Відгуки: {{review}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn">Замовити</button>
    </mat-card-actions>
  </mat-card>
